<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>945524063185-obvv7httpav8ulop0k3816503ofm7aes.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.945524063185-obvv7httpav8ulop0k3816503ofm7aes</string>
	<key>API_KEY</key>
	<string>AIzaSyBW_D5tSQGZUzJHpstqLGjhEE7sVMT9tJU</string>
	<key>GCM_SENDER_ID</key>
	<string>945524063185</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.starfox.mobWhatsapp</string>
	<key>PROJECT_ID</key>
	<string>mob-whatsapp</string>
	<key>STORAGE_BUCKET</key>
	<string>mob-whatsapp.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:945524063185:ios:925ac7efbbf78c8c2afef0</string>
</dict>
</plist>